<div id="myform">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<h1>Sign in</h1>
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true, :class => 'signin-input' %>

			<%= f.label :password %>
			<%= f.password_field :password, :class => 'signin-input' %>

			<% if devise_mapping.rememberable? -%>
				<%= f.label :remember_me %>
				<%= f.check_box :remember_me, :class => 'signin-checkbox' %>
			<% end -%>

			<%= f.submit "Sign in", :class => 'btn btn-primary signin-submit' %>
	<% end %>
	<%= render "devise/shared/links" %>
</div> 


