<div id="myform" class="listing-table">
<h1>Listing timesheets for department <%= current_user.department.dept_name %></h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Period</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.status %></td>
        <td><%= timesheet.period %></td>
        <td><%= timesheet.user.user_fullname%></td>
        <td><%= link_to 'Show', timesheet %></td>
        <% if timesheet.status != 'APPROVED' %>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
        <% else %>
        <td>Non-editable</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
