<div id="myform">
	<%= form_for @timesheet do |f| %>
			<h1>Editing timesheet</h1>
			<%= f.label :status %>

      <% if current_user.id == @timesheet.user_id %>
			<%= f.select :status, [['OPEN','OPEN'],['SUBMITTED','SUBMITTED']], :input_html => { :value => @timesheet.status } %>
      <% else %>
	<%= f.select :status, [['SUBMITTED','SUBMITTED'],['APPROVED','APPROVED'],['REJECTED','REJECTED']], :input_html => { :value => @timesheet.status } %>

      <% end %>
			
			<%= f.label :period %>
			<%= f.date_select "period", :start_year => 2008,
                               :use_month_numbers => false,
                               :discard_day => false,
                               :order => [:year, :month, :day], :input_html => { :value => @timesheet.period } %>

			<%= f.submit "Update timesheet", :class => 'btn btn-primary signin-submit' %>
	<% end %>
	<%= link_to 'Add sheetfile', new_sheetfile_path(:my_sheetfile => { :timesheet_id => @timesheet.id }) %>

	<%= link_to 'Show', @timesheet %> |
	<%= link_to 'Back', timesheets_path %>
</div>	


