<div class="content">
	<%= form_for @timesheet, html: {role: "form",class: "content-center"} do |f| %>
			<blockquote>
				<p>Edit timesheet no# <%= @timesheet.id %></p>
			</blockquote>
			<div class="form-group">		
				<%= f.label :status %>
				<% if current_user.id == @timesheet.user_id %>
					<%= f.select(:status, [['OPEN','OPEN'],['SUBMITTED','SUBMITTED'],['APPROVED','APPROVED'],['REJECTED','REJECTED']], { :input_html => { :value => @timesheet.status }}, { :class => 'form-control' }) %>
				<% else %>
					<%= f.select(:status, [['OPEN','OPEN'],['SUBMITTED','SUBMITTED'],['APPROVED','APPROVED'],['REJECTED','REJECTED']], { :input_html => { :value => @timesheet.status }}, { :class => 'form-control' }) %>	
				<% end %>
			</div>
			<div class="form-group">
			<%= f.label :period %>
			
			<%= f.date_select "period", {:start_year => 2008,
                               :use_month_numbers => false,
                               :discard_day => false,
                               :order => [:year, :month, :day]}, {:value => @timesheet.period, :class => 'form-control' } %>
			</div>				   

			<%= button_tag(type: 'submit', class: "btn btn-success") do %>
				<i class="fa fa-file-text-o"></i> Update timesheet
			<% end %>
			
	<% end %>
	
	<%= link_to(raw(("<i class='fa fa-plus-circle pr10'></i>") + "Add sheetfile to timesheet"), new_sheetfile_path(:my_sheetfile => { :timesheet_id => @timesheet.id }), :class => "btn btn-info") %>
	
	<br><br>

	<%= link_to(raw(("<i class='fa fa-files-o pr10'></i>") + "Show timesheet"), @timesheet, :class => "btn btn-info") %>
	
	<br><br>
	
	<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), timesheets_path, :class => "btn btn-primary btn-sm") %>	
	
</div>	


