<div id="myform" class="listing-table">
<h1>Listing timesheets</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Period</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr>
        <td><%= timesheet.status %></td>
        <td><%= timesheet.period %></td>
        <td><%= link_to 'Show', timesheet %></td>
        <td><%= link_to 'Edit', edit_timesheet_path(timesheet) %></td>
        <td><%= link_to 'Destroy', timesheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Timesheet', new_timesheet_path %>
</div>