<div class="content">
	<%= form_for @timesheet , html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>New timesheet</p>
		</blockquote>
		<div class="form-group">
			<%= f.label :status %>
			<%= f.select(:status, [['OPEN','OPEN'],['SUBMITTED','SUBMITTED'],['APPROVED','APPROVED'],['REJECTED','REJECTED']], {}, { :class => 'form-control' }) %>
		</div>
		<div class="form-group">
			<%= f.label :period %>
			<%= f.date_select "period", {:start_year => 2008,
								   :use_month_numbers => false,
								   :discard_day => false,
								   :order => [:year, :month, :day]}, {:class => "form-control"} %>
								   
		
	   
		</div>
		<%= button_tag(type: 'submit', class: "btn btn-success") do %>
			<i class="fa fa-file-text-o"></i> Create timesheet
		<% end %>
		
	<% end %>
	
<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), timesheets_path, :class => "btn btn-primary btn-sm") %>	

</div>
