<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @timesheet.status %>
</p>

<p>
  <strong>Period:</strong>
  <%= @timesheet.period %>
</p>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
