<div id="form-signin">
<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @timesheet.status %>
</p>

<p>
  <strong>Period:</strong>
  <%= @timesheet.period %>
</p>

<%= link_to 'View sheetfiles', sheetfiles_path(:my_sheetfile => { :timesheet_id => @timesheet.id }) %>

<%= link_to 'Edit', edit_timesheet_path(@timesheet) %> |
<%= link_to 'Back', timesheets_path %>
</div>