<div class="content">

  <%= form_for @user, :url => memberships_update_path(@user.id), html: {role: "form",class: "content-center"} do |f| %>
	  <%= devise_error_messages! %>
	  
		<blockquote>
			<p>Edit user no# <%= @user.id %></p>
		</blockquote>

		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
		</div>
	

		<div class="form-group">
			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
			<%= f.password_field :password, :autocomplete => "off" , :class => "form-control" %>
		</div>	

		<div class="form-group">	
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, :class => "form-control" %>
		</div>

    <div class="form-group">
      <%= f.label :user_job%>
      <%= collection_select(:user, :user_job_id, UserJob.where(:id => [1, 4, 5] ), :id, :title, {}, {:class=>'form-control'}) %>
    </div>


		<div class="form-group">
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
			<%= f.password_field :current_password, :class => "form-control" %>
		</div>

		<button class="btn btn-success"><i class='fa fa-file-text-o'></i><%= f.submit "Update", :class => "btn btn-success no-border" %></button>	
	  
	<% end %>


<br><br>
<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), :back, :class => "btn btn-primary btn-sm") %>	

</div>
