<div id="myform" class="listing-table">
<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>User email</th>
      <th>Job title</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_fullname %></td>
        <td><%= user.email %> </td>
        <td><%= user.user_job.title %></td>
        <td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>

      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to "Add User", new_user_registration_path, :method => :get %>

</div>

