<div id="myform">
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
		<h1>Add user</h1>
		<%= devise_error_messages! %>

		<%= f.label :email %>
		<%= f.email_field :email, :autofocus => true, :class => 'signin-input' %>

		<%= f.label :password %>
		<%= f.password_field :password, :class => 'signin-input' %>

		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => 'signin-input' %>
    
    <%= f.label :user_fullname%>
    <%= f.text_field :user_fullname, :class => 'signin-input' %>
    
    <%= f.label :user_job%>
    <%= f.select :user_job, [ ['ADMINISTRATOR', 'ADMINISTRATOR'], ['EMPLOYEE','EMPLOYEE'], [ 'DEPT_HEAD' , 'DEPT_HEAD'  ], ['DIV_HEAD' , 'DIV_HEAD' ],
    ['DIRECTOR ' ,'DIRECTOR' ]   ] %>

    <%= f.label :department_id %>
    <%= grouped_collection_select(:user, :department_id, Division.all, :departments, :div_name, :id, :dept_name) %>

		<%= f.submit "Add user", :class => 'btn btn-primary signin-submit' %>
	<% end %>	
	<%= render "devise/shared/links" %>
</div>
