<%= form_for(@sheetfile) do |f| %>
  <% if @sheetfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheetfile.errors.count, "error") %> prohibited this sheetfile from being saved:</h2>

      <ul>
      <% @sheetfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.date_select :day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
