<div class="content">
	<%= form_for @sheetfile , html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>New sheetfile</p>
		</blockquote>
		<div class="form-group">
			<%= f.label :timesheet_id %>
			<%= f.text_field :timesheet_id, :input_html => { :value => @sheetfile.timesheet_id }, :class => 'form-control', :readonly => true %>
		</div>
		<div class="form-group">
			<%= f.label :day %>
			<%= f.date_select "day", {:start_year => 2008,
								   :use_month_numbers => false,
								   :discard_day => false,
								   :order => [:year, :month, :day]},{:class => "form-control"} %>
		</div>
		<button class="btn btn-success"><i class='fa fa-file-text-o'></i><%= f.submit "Create sheetfile", :class => 'btn btn-success no-border' %></button>
	<% end %>
	<button class="btn btn-primary btn-sm"><%= link_to 'Back', sheetfiles_path %></button>
	
</div>