<div class="content">
	<blockquote>
		<p>Report listing</p>
	</blockquote>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
        <tr>
        <th>Division name</th>
        <th>Department name</th>
        <th>Project name</th>
        <th>Hours worked</th>
        </tr>

			</thead>


			<tbody>
				<% 
					users_array = []
				%>
			   <% @user_activities.each do |activity| %>
			   <tr>

				  <td><%= Department.find(activity.department_id).division.div_name %></td>
				  <% users_array.push(Department.find(activity.department_id).division.div_name) %>
				  <td><%= Department.find(activity.department_id).dept_name  %></td>
				  <% users_array.push(Department.find(activity.department_id).dept_name) %>
				  <td><%= Project.find(activity.project_id).project_name  %></td>
				  <% users_array.push(Project.find(activity.project_id).project_name) %>
				  <td><%= activity.hoursw %></td>
				  <% users_array.push(activity.hoursw) %>
			   </tr>
			   <% end %>

			</tbody>
		</table>
	</div>
	
	<%= link_to(raw(("<i class='fa fa-plus-circle pr10'></i>") + "Make PDF"), {:controller => "activities", :action => "pdf_director_projects",:par => users_array}, {:class => 'btn btn-primary', :method => :get} ) %>

	
</div>
