<div class="content">
	<%= form_for @project, html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>Edit project no# <%= @project.id %></p>
		</blockquote>

		<div class="form-group">	
			<%= f.label :project_name %>
			<%= f.text_field :project_name, :class => 'form-control' %>
		</div>	
  
		<div class="form-group">
			<%= fields_for @project.client do |client_fields| %>
				<%= f.label :client %><br>
				<%= client_fields.text_field :client_name, :readonly => :true, :class => 'form-control' %>
			<% end %>
		</div>	
		
		<button class="btn btn-success"><i class='fa fa-file-text-o'></i><%= f.submit "Update project", :class => 'btn btn-success no-border' %></button>

	<% end %>
	
	<%= link_to(raw(("<i class='fa fa-files-o pr10'></i>") + "Show project"), @project, :class => "btn btn-info") %>
	
	<br><br>
	
	<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), projects_path(:my_project => { :client_id => @project.client_id }), :class => "btn btn-primary btn-sm") %>	

</div>
