<div id="myform">
	<%= form_for @project do |f| %>
		<h1>New project</h1>
		
		<%= f.label :project_name %><br>
		<%= f.text_field :project_name, :class => 'signin-input' %>
		
		<%= f.hidden_field :client_id, :input_html => { :value => @project.client_id }, :class => 'signin-input', :readonly => true %>

      <%= fields_for @project.client do |client_fields| %>
      <div class="field">
             <%= f.label :client %><br>
             <%= client_fields.text_field :client_name, :readonly => true %>
      </div>
      <% end %>

		
		<%= f.submit "Create project", :class => 'btn btn-primary signin-submit' %>
	<% end %>
	<%= link_to 'Back', projects_path(:my_project => { :client_id => @project.client_id }) %>
</div>








