<div id="myform">
<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>

    <strong> Client name:</Strong>
    <%= fields_for @project.client do |client_fields| %>
        <div class="field">
            <%= client_fields.text_field :client_name, :readonly => true %>
         </div>
    <% end %>

</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path(:my_project => { :client_id => @project.client_id }) %>
</div>
