<div id="myform">
<p id="notice"><%= notice %></p>

<p>
  <strong>Div name:</strong>
  <%= @division.div_name %>
  <br/>
  <strong>Division head:</strong>
  <% if @division.user == nil %>
    Nobody assigned
  <% else %>
    <%= @division.user.user_fullname%>
  <% end %>

</p>

<%= link_to 'View departments', departments_path(:my_department => { :division_id => @division.id }) %>
<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
</div>
