<div class="content">
	<%= form_for @client, html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>New client</p>
		</blockquote>	
		
		<div class="form-group">
			<%= f.label :client_name %>
			<%= f.text_field :client_name, :class => 'form-control' %>
		</div>	
	  
		<%= button_tag(type: 'submit', class: "btn btn-success") do %>
			<i class="fa fa-file-text-o"></i> Create client
		<% end %>
		
	<% end %>

<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), clients_path, :class => "btn btn-primary btn-sm") %>	
</div>