<div class="content">
	<%= form_for @client, html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>New client</p>
		</blockquote>	
		
		<div class="form-group">
			<%= f.label :client_name %>
			<%= f.text_field :client_name, :class => 'form-control' %>
		</div>	
	  
	  
		<button class="btn btn-success"><i class='fa fa-file-text-o'></i><%= f.submit "Create client", :class => 'btn btn-success no-border' %></button>
	  
	<% end %>

<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), clients_path, :class => "btn btn-primary btn-sm") %>	
</div>