<div id="myform" class="listing-table">
<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Type activity</th>
      <th>Description</th>
      <th>Work hours</th>
      <th>Extra</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.type_activity %></td>
        <td><%= activity.description %></td>
        <td><%= activity.work_hours %></td>
        <td><%= activity.extra %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add activity', new_activity_path(:my_activity => { :sheetfile_id => @sheetfile_id }) %>
</div>
