<div class="content">
	<%= form_for @activity, html: {role: "form",class: "content-center"} do |f| %>
		<blockquote>
			<p>New activity</p>
		</blockquote>	
		
		<div class="form-group">
			<%= f.label :sheetfile_id %>
			<%= f.text_field :sheetfile_id, :readonly => true, :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :type_activity %>
			<%= f.text_field :type_activity, :class => "form-control" %>
		</div>
		<div class="form-group">		
			<%= f.label :description %>
			<%= f.text_field :description, :class => "form-control" %>
		</div>
		<div class="form-group">	
			<%= f.label :project_id %> 
			<%= grouped_collection_select(:activity, :project_id, Client.all, :projects, :client_name, :id, :project_name, {}, { :class=> "form-control" })%>
		</div>
		<div class="form-group">
			<%= f.label :work_hours %>
			<%= f.number_field :work_hours, :class => "form-control" %>
		</div>
		<div class="form-group">
			<%= f.label :extra %>
			<%= f.check_box :extra, :class => "form-control" %>
		</div>

		<button class="btn btn-success"><i class='fa fa-file-text-o'></i><%= f.submit "Create activity", :class => 'btn btn-success no-border' %></button>
	<% end %>
	<%= link_to(raw(("<i class='fa fa-reply pr10'></i>") + "Back"), activities_path, :class => "btn btn-primary btn-sm") %>	
	
</div>	
