<div id="myform">
	<%= form_for @department do |f| %>
		<h1>Editing department</h1>
		
		<%= f.label :dept_name %>
		<%= f.text_field :dept_name, :class => 'signin-input' %>
		
		
		<%= fields_for @department.division do |division_fields| %>
			<%= f.label :division %><br>
			<%= division_fields.text_field :div_name, :readonly => :true, :class => 'signin-input' %>
		<% end %>
		
		<%= f.submit "Update department", :class => 'btn btn-primary signin-submit' %>
	<% end %>
	<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path(:my_department => { :division_id => @department.division_id }) %>
</div>



