<div id="myform" class="listing-table">
<h1>Listing departments</h1>

<table>
  <thead>
    <tr>
      <th>Dept name</th>
      <th>Division</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.dept_name %></td>
        <td><%= department.division_id %></td>
        <td><%= link_to 'Show', department %></td>
        <td><%= link_to 'Edit', edit_department_path(department) %></td>
        <td><%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path(:my_department => { :division_id => @division_id }) %>
</div>