<div id="myform">
<p id="notice"><%= notice %></p>

<p>
  <strong>Department name:</strong>
  <%= @department.dept_name %>
</p>

<p>
  <strong>Division name:</strong>
	<%= fields_for @department.division do |division_fields| %>
        <div class="field">
            <%= division_fields.text_field :div_name, :readonly => true %>
         </div>
    <% end %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path(:my_department => { :division_id => @department.division_id }) %>
</div>