<!DOCTYPE html>
<html>
<head>
  <title>Sharknet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :all, "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<% if user_signed_in? %>
			<div class="jumbotron">
				
				<%= link_to(raw(("<h2>") + "Welcome" + ("<br><small>") + "Sharknetors team" + ("</small></br></h2>")), root_path) %>

				<p class="navbar-text navbar-right">
					<button class="btn btn-primary btn-sm"><i class="fa fa-sign-in pr10"></i>Signed in as <b><%= "#{current_user.user_fullname}" %></b></button>
					
					<%= link_to(raw(("<i class='fa fa-sign-out pr10'></i>") + "Sign out"), destroy_user_session_path, :method => :delete, :class => "btn btn-danger btn-sm") %>
				</p>
			</div>
	<% else %>
			<div class="jumbotron">
				<h2>The<br><small>Sharknetors team</small></br></h2>
				<p class="navbar-text navbar-right">
					
					<%= link_to(raw(("<i class='fa fa-sign-in pr10'></i>") + "Sign in"), new_user_session_path, :class => "btn btn-primary btn-sm") %>
				</p>
			</div>
	<% end %>

	<ul class="nav nav-pills">
		<% if current_user != nil %>
			<li><%= link_to "View timesheets", timesheets_path, :class => 'btn btn-default btn-sm' %></li>
		<% end %>
		<% if current_user != nil and current_user.user_job.title == 'ADMINISTRATOR' %>
			<li><%= link_to "Manage users", memberships_index_path, :class => 'btn btn-default btn-sm'  %></li>

			<li><%= link_to "Manage divisions", divisions_path, :class => 'btn btn-default btn-sm'  %></li>
		<%elsif current_user != nil and current_user.user_job.title == 'SEF DEPARTAMENT' %>
			<li><%= link_to "Manage clients", clients_path, :class => 'btn btn-default btn-sm'  %></li>
		<%  end %>
		
		<% if current_user == nil %>
		<% elsif current_user.user_job.title == "SEF DIVIZIE" %>
			<li><%= link_to "View division timesheets", timesheets_divisions_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View user reports", activities_divisions_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View project reports", activities_divisions_project_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View period reports", activities_divisions_period_path, :class => 'btn btn-default btn-sm' %></li>

		<%elsif current_user.user_job.title == "SEF DEPARTAMENT" %>
			<li><%= link_to "View department timesheets", timesheets_departments_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View user reports", activities_departments_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View project reports", activities_departments_project_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View period reports", activities_departments_period_path, :class => 'btn btn-default btn-sm' %></li>

		<%elsif current_user.user_job.title == "DIRECTOR" %>
			<li><%= link_to "View company timesheets", timesheets_director_path, :class => 'btn btn-default btn-sm' %></li>
			<li><%= link_to "View user reports", activities_departments_path, :class => 'btn btn-default btn-sm' %></li>
		<% end %>
	</ul>
</div>

<%= yield %>

</body>
</html>
