<!DOCTYPE html>
<html>
<head>
  <title>Sharknet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :all, "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='top-right-align'>
<% if user_signed_in? %>
<%= "<p class='btn btn-primary'>Bun venit #{current_user.user_fullname}! </p>".html_safe %>
<%= link_to "Sign_out", destroy_user_session_path, :method => :delete, :class => 'btn btn-info'  %>
<% else %>
<%= link_to "Sign_in", new_user_session_path, :class => 'btn btn-info' %>
<% end %>
</div>


<%= yield %>

</body>
</html>
