<!DOCTYPE html>
<html>
<head>
  <title>Sharknet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :all, "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='top-left-align'>
<% if current_user != nil and current_user.user_job.title == 'ADMINISTRATOR' %>
  <%=     link_to "Manage users", memberships_index_path, :class => 'btn btn-warning'  %>
  <%=     link_to "Manage divisions", divisions_path, :class => 'btn btn-warning'  %>
<%  end %>
</div>

<div class='top-right-align'>
<% if user_signed_in? %>
<%= "<p class='btn btn-primary'>Bun venit #{current_user.user_fullname}! </p>".html_safe %>
<%= link_to "Sign_out", destroy_user_session_path, :method => :delete, :class => 'btn btn-info'  %>
<% else %>
<%= link_to "Sign_in", new_user_session_path, :class => 'btn btn-info' %>
<% end %>
<br>

<% if current_user != nil %>
<%= link_to "View timesheets", timesheets_path, :class => 'btn btn-success' %>
<% end %>
<br>

<% if current_user == nil %>
 <br>
<% elsif current_user.user_job.title == "SEF DIVIZIE" %>
  <%= link_to "View division timesheets", timesheets_divisions_path, :class => 'btn btn-success' %>
<%elsif current_user.user_job.title == "SEF DEPARTAMENT" %>
  <%= link_to "View department timesheets", timesheets_departments_path, :class => 'btn btn-success' %>
<% end %>
</div>


<%= yield %>

</body>
</html>
