<div class="content">
	<blockquote>
		<p>Report listing</p>
	</blockquote>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th><i class="fa fa-male pr10"></i>Client name </th>
					<th><i class="fa fa-book pr10"></i>Project name</th>
					<th><i class="fa fa-ticket pr10"></i>Hours worked</th>
					<th><i class="fa fa-trophy pr10"></i>Extra hours</th>
					<th><i class="fa fa-spinner pr10"></i>Percentage</th>
				</tr>
			</thead>

			<tbody>
				<% 
					users_array = []
				%>
				<% @user_activities.each do |activity| %>
					<tr>
						<td><%= activity.project.client.client_name %></td>
						<% users_array.push(activity.project.client.client_name) %>
						
						<td><%= activity.project.project_name %></td>
						<% users_array.push(activity.project.project_name) %>
						
						<td><%= activity.hoursw %></td>
						<% users_array.push(activity.hoursw) %>
						
						<td><%= activity.extrah %></td>
						<% users_array.push(activity.extrah) %>
						
						<td><%= (activity.hoursw/@total_hours.to_f )* 100 %> %</td>
						<% users_array.push((activity.hoursw/@total_hours.to_f )* 100) %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<%= link_to(raw(("<i class='fa fa-plus-circle pr10'></i>") + "Make PDF"), {:controller => "activities", :action => "pdf_dept_users",:par => users_array}, {:class => 'btn btn-primary', :method => :get} ) %>

</div>
